{
    Player: {},
    Mindless: { Default: Attack, },
    Centipede: { Default: Attack, Centipede: Ignore },
    Ant: { Default: Attack, Ant: Ignore },
    Rat: { Default: Attack, Rat: Ignore, Wolf: Flee },
    Wolf: { Default: Attack, Wolf: Ignore, Kobold: Flee },
    Kobold: { Default: Attack, Kobold: Ignore },
    Thief: { Default: Flee, Thief: Ignore },
}
