[
    (
        // DOOR 
        code: (code: 1900),
        door: Some((open: false)),
        blocks_tile: Some(()),
        blocks_visibility: Some(()),
    ),
    (
        // HEALTH_POTION
        code: (code: 2000),
        item: Some(()),
        consumeable: Some(()),
        provides_healing: Some((heal: 8)),
    ),
    (
        // MAGIC_MISSILE
        code: (code: 2100),
        item: Some(()),
        consumeable: Some(()),
        ranged: Some((range: 6)),
        inflicts_damage: Some((damage: 8)),
    ),
    (
        // DRAGON_BREATH
        code: (code: 2101),
        item: Some(()),
        consumeable: Some(()),
        ranged: Some((range: 6)),
        inflicts_damage: Some((damage: 10)),
        area_of_effect: Some((radius: 2)),
    ),
    (
        // ACID_RAIN
        code: (code: 2102),
        item: Some(()),
        consumeable: Some(()),
        ranged: Some((range: 6)),
        inflicts_damage: Some((damage: 8)),
        area_of_effect: Some((radius: 3)),
    ),
    (
        // CONFUSION_SCROLL
        code: (code: 2103),
        item: Some(()),
        consumeable: Some(()),
        ranged: Some((range: 6)),
        confusion: Some((turns: 3)),
    ),
    (
        // MEAT
        code: (code: 2200),
        item: Some(()),
        consumeable: Some(()),
    ),
    (
        // HIDE
        code: (code: 2201),
        item: Some(()),
        consumeable: Some(()),
    ),
]
