[
    (
        // WHITE_CENTIPEDE
        code: (code: 10),
        monster: Some(()),
        blocks_tile: Some(()),
        combat_stats: Some((defense: 1, power: 3)),
        health_stats: Some((max_hp: 10, hp: 10)),
        field_of_view: Some(6),
    ),
    (
        // RED_ANT
        code: (code: 11),
        monster: Some(()),
        blocks_tile: Some(()),
        combat_stats: Some((defense: 1, power: 3)),
        health_stats: Some((max_hp: 10, hp: 10)),
        field_of_view: Some(6),
    ),
    (
        // GHOST
        code: (code: 12),
        monster: Some(()),
        blocks_tile: Some(()),
        combat_stats: Some((defense: 1, power: 5)),
        health_stats: Some((max_hp: 15, hp: 15)),
        field_of_view: Some(20),
    ),
    (
        // GREY_MOULD
        code: (code: 13),
        monster: Some(()),
        blocks_tile: Some(()),
        combat_stats: Some((defense: 1, power: 2)),
        health_stats: Some((max_hp: 6, hp: 6)),
        field_of_view: Some(4),
    ),
    (
        // KOBOLD
        code: (code: 14),
        monster: Some(()),
        blocks_tile: Some(()),
        combat_stats: Some((defense: 1, power: 3)),
        health_stats: Some((max_hp: 8, hp: 8)),
        field_of_view: Some(6),
    ),
    (
        // THIEF
        code: (code: 15),
        vendor: Some(()),
        blocks_tile: Some(()),
        combat_stats: Some((defense: 1, power: 3)),
        health_stats: Some((max_hp: 8, hp: 8)),
        field_of_view: Some(6),
    ),
]
