[
    (
        // WHITE_CENTIPEDE
        code: (code: 10),
        mob: Some(()),
        attributes: Some({ Might: 3, Fitness: 3, Quickness: 3 }),
        skills: Some({ Melee: -1, Defense: -1 }),
        natural: Some((armour_class: Some(11), attacks: [
            (range: 0, hit_desc: Bite, attribute: Quickness,
                damage_dice: (1, 4, 0), hit_bonus: 0),
        ])),
        blocks_tile: Some(()),
        field_of_view: Some(8),
        faction: Some((name: Centipede)),
    ),
    (
        // RED_ANT
        code: (code: 11),
        mob: Some(()),
        attributes: Some({ Might: 3, Fitness: 3, Quickness: 3 }),
        skills: Some({ Melee: -1, Defense: -1 }),
        natural: Some((armour_class: Some(10), attacks: [
            (range: 0, hit_desc: Bite, attribute: Quickness,
                damage_dice: (1, 4, 0), hit_bonus: 0),
            (range: 0, hit_desc: Sting, attribute: Quickness,
                damage_dice: (1, 4, 0), hit_bonus: 0),
        ])),
        blocks_tile: Some(()),
        field_of_view: Some(8),
        faction: Some((name: Ant)),
    ),
    (
        // BLACK_RAT
        code: (code: 12),
        mob: Some(()),
        attributes: Some({ Might: 3, Fitness: 3, Quickness: 3 }),
        skills: Some({ Melee: -1, Defense: -1 }),
        natural: Some((armour_class: Some(11), attacks: [
            (range: 0, hit_desc: Bite, attribute: Quickness,
                damage_dice: (1, 4, 0), hit_bonus: 0),
        ])),
        blocks_tile: Some(()),
        field_of_view: Some(8),
        faction: Some((name: Rat)),
    ),
    (
        // WOLF
        code: (code: 13),
        mob: Some(()),
        attributes: Some({ Might: 3, Fitness: 3, Quickness: 3 }),
        skills: Some({ Melee: 0, Defense: 0 }),
        natural: Some((armour_class: Some(12), attacks: [
            (range: 0, hit_desc: Bite, attribute: Might,
                damage_dice: (1, 6, 0), hit_bonus: 0),
        ])),
        blocks_tile: Some(()),
        field_of_view: Some(8),
        loot_table: Some((key: Animal)),
        faction: Some((name: Wolf)),
    ),
    (
        // KOBOLD
        code: (code: 14),
        mob: Some(()),
        attributes: Some({}),
        skills: Some({}),
        blocks_tile: Some(()),
        field_of_view: Some(6),
        faction: Some((name: Kobold)),
        gold: Some((1, 4, 1)),
    ),
    (
        // TODO - THIEF IS TEST !!!!
        code: (code: 15),
        mob: Some(()),
        attributes: Some({ Might: 3, Fitness: 3, Quickness: 3 }),
        skills: Some({ Melee: 0, Defense: 0 }),
        blocks_tile: Some(()),
        field_of_view: Some(4),
        equipped: Some([3000, 3300]),
        level: Some(2),
        faction: Some((name: Thief)),
    ),
]
