[
    (
        // WHITE_CENTIPEDE
        code: (code: 10),
        monster: Some(()),
        attributes: Some({}),
        skills: Some({}),
        blocks_tile: Some(()),
        field_of_view: Some(6),
    ),
    (
        // RED_ANT
        code: (code: 11),
        monster: Some(()),
        attributes: Some({}),
        skills: Some({}),
        blocks_tile: Some(()),
        field_of_view: Some(6),
    ),
    (
        // GHOST
        code: (code: 12),
        monster: Some(()),
        attributes: Some({}),
        skills: Some({}),
        blocks_tile: Some(()),
        field_of_view: Some(20),
    ),
    (
        // GREY_MOULD
        code: (code: 13),
        monster: Some(()),
        attributes: Some({}),
        skills: Some({}),
        blocks_tile: Some(()),
        field_of_view: Some(4),
    ),
    (
        // KOBOLD
        code: (code: 14),
        monster: Some(()),
        attributes: Some({}),
        skills: Some({}),
        blocks_tile: Some(()),
        field_of_view: Some(6),
    ),
    (
        // TODO - THIEF IS TEST !!!!
        code: (code: 15),
        vendor: Some(()),
        attributes: Some({ Intelligence: 13 }),
        skills: Some({ Magic: 2 }),
        blocks_tile: Some(()),
        field_of_view: Some(6),
        equipped: Some([(3000, Melee), (3300, Body)]),
        natural: Some((armour_class: Some(8), attacks: [
            (range: 0, hit_desc: Claw, attribute: Might,
                damage_dice: (1, 4, 0), hit_bonus: 0),
        ])),
        level: Some(2),
    ),
]
