[
    (
        // DAGGER
        code: (code: 3000),
        item: Some(()),
        equippable: Some((slot: Melee)),
        melee_power_bonus: Some((power: 2)),
        health_stats: Some((max_hp: 1, hp: 1)),
    ),
    (
        // SHORT_SWORD
        code: (code: 3001),
        item: Some(()),
        equippable: Some((slot: Melee)),
        melee_power_bonus: Some((power: 4)),
        health_stats: Some((max_hp: 1, hp: 1)),
    ),
    (
        // LONG_SWORD
        code: (code: 3002),
        item: Some(()),
        equippable: Some((slot: Melee)),
        melee_power_bonus: Some((power: 6)),
        health_stats: Some((max_hp: 1, hp: 1)),
    ),
    (
        // SHIELD
        code: (code: 3100),
        item: Some(()),
        equippable: Some((slot: Shield)),
        defense_bonus: Some((defense: 1)),
        health_stats: Some((max_hp: 1, hp: 1)),
    ),
]
