[
    (
        // DAGGER
        code: (code: 3000),
        item: Some(()),
        weapon: Some((range: 0, attribute: Quickness,
                      damage_dice: (1, 4, 0), hit_bonus: 0)),
    ),
    (
        // RUSTY_SWORD
        code: (code: 3001),
        item: Some(()),
        weapon: Some((range: 0, attribute: Might,
                      damage_dice: (1, 8, -1), hit_bonus: -1)),
    ),
    (
        // LONG_SWORD
        code: (code: 3002),
        item: Some(()),
        weapon: Some((range: 0, attribute: Quickness,
                      damage_dice: (1, 6, 0), hit_bonus: 0)),
    ),
    (
        // SHIELD
        code: (code: 3100),
        item: Some(()),
        wearable: Some((slot: Shield, armour_class: 1.0)),
    ),
    (
        // TUNIC
        code: (code: 3300),
        item: Some(()),
        wearable: Some((slot: Body, armour_class: 0.1)),
    ),
    (
        // PANTS
        code: (code: 3400),
        item: Some(()),
        wearable: Some((slot: Legs, armour_class: 0.1)),
    ),
    (
        // OLD_BOOTS
        code: (code: 3500),
        item: Some(()),
        wearable: Some((slot: Feet, armour_class: 0.1)),
    ),
]
