@import "https://fonts.googleapis.com/css?family=Uncial+Antiqua|Open+Sans:300,600";
@import "img-data";
@import "tiles";

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: "Open Sans";
  font-weight: 300;
}

.game {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr minmax(80vh, auto) 1fr;
  color: #9fa6ad;
}

.title {
  font-family: "Uncial Antiqua";
  margin: 0;
}

.holding {
  padding: 20px;
  font-size: 2rem;
  background-color: rgba(11, 56, 86, 0.1);
}

.left-panel {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.top-panel {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.map {
  &:focus {
    outline: none !important;
    border: 1px solid #95c681;
  }
}

.status,
.contents,
.tiles {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  position: absolute;
}

.right-panel {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.armour,
.inventory,
.log {
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bottom-panel {
  grid-column: 1 / span 3;
  grid-row: 3;
  text-align: center;
}

.tile {
  width: 36;
  height: 36;
}

.visible {
  opacity: 0;
}

.seen {
  background-color: #1e1e1e;
  opacity: 0.8;
}

.not-seen {
  background-color: #1e1e1e;
  opacity: 1;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(11, 56, 86, 0.6);
  padding-top: 70px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 25%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.li-selected {
  background-color: #323232;
}

.datetime {
  color: #7e9098;
}

.flex-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  .tile-box {
    justify-content: center;
    background-repeat: no-repeat;
  }
  .content {
    margin-left: 0.5rem;
    color: #c2c3c5;
  }
}
