@import "https://fonts.googleapis.com/css?family=Uncial+Antiqua|Open+Sans:300,600";
@import "img-data";

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: "Open Sans";
  font-weight: 300;
}

.game {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr minmax(80vh, auto) 1fr;
  color: #9fa6ad;
}

.title {
  font-family: "Uncial Antiqua";
}

.holding {
  padding: 20px;
  font-size: 2rem;
  background-color: rgba(11, 56, 86, 0.1);
}

.left-panel {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.top-panel {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.status,
.entities,
.tiles {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  position: absolute;
}

.right-panel {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.log {
  font-size: 1rem;
  border: 1px solid white;
}

.bottom-panel {
  grid-column: 1 / span 3;
  grid-row: 3;
  text-align: center;
}

.tile {
  width: 36;
  height: 36;
}

.visible {
  opacity: 0;
}

.seen {
  background-color: #1e1e1e;
  opacity: 0.8;
}

.not-seen {
  background-color: #1e1e1e;
  opacity: 1;
}

.wall {
  background-color: #1e1e1e;
}

.floor {
  background: $floor64;
  background-size: 100%;
}

// player

.player-m {
  background: $player-m;
  background-size: 100%;
}
.player-f {
  background: $player-f;
  background-size: 100%;
}

// weapons

.pick {
  background: $pick;
  background-size: 100%;
}
.dagger {
  background: $dagger;
  background-size: 100%;
}
.short-sword {
  background: $short-sword;
  background-size: 100%;
}
.long-sword {
  background: $long-sword;
  background-size: 100%;
}
.hammer {
  background: $hammer;
  background-size: 100%;
}
.long-bow {
  background: $long-bow;
  background-size: 100%;
}
.cross-bow {
  background: $cross-bow;
  background-size: 100%;
}
.arrows {
  background: $arrows;
  background-size: 100%;
}
.bolts {
  background: $bolts;
  background-size: 100%;
}

// rings

.ring-one {
  background: $ring-one;
  background-size: 100%;
}
.ring-str {
  background: $ring-str;
  background-size: 100%;
}
.ring1 {
  background: $ring1;
  background-size: 100%;
}
.ring2 {
  background: $ring2;
  background-size: 100%;
}
.ring3 {
  background: $ring3;
  background-size: 100%;
}
.ring4 {
  background: $ring4;
  background-size: 100%;
}

// amulets

.amulet-mother {
  background: $amulet-mother;
  background-size: 100%;
}
.amulet1 {
  background: $amulet1;
  background-size: 100%;
}
.amulet2 {
  background: $amulet2;
  background-size: 100%;
}
.amulet3 {
  background: $amulet3;
  background-size: 100%;
}
.amulet4 {
  background: $amulet4;
  background-size: 100%;
}

// armours

.leather {
  background: $leather;
  background-size: 100%;
}
.scale {
  background: $scale;
  background-size: 100%;
}
.plate {
  background: $plate;
  background-size: 100%;
}
.adamantite-armour {
  background: $adamantite-armour;
  background-size: 100%;
}
.shield {
  background: $shield;
  background-size: 100%;
}

// food

.trippy-mushroom {
  background: $trippy-mushroom;
  background-size: 100%;
}
.yellow-mushroom {
  background: $yellow-mushroom;
  background-size: 100%;
}

// monsters

.gold-dragon {
  background: $gold-dragon;
  background-size: 100%;
}
.black-dragon {
  background: $black-dragon;
  background-size: 100%;
}
.red-dragon {
  background: $red-dragon;
  background-size: 100%;
}
.white-dragon {
  background: $white-dragon;
  background-size: 100%;
}

.grey-mould {
  background: $grey-mould;
  background-size: 100%;
}
.green-mould {
  background: $green-mould;
  background-size: 100%;
}

.red-ant {
  background: $red-ant;
  background-size: 100%;
}

.white-centipede {
  background: $white-centipede;
  background-size: 100%;
}
.grey-centipede {
  background: $grey-centipede;
  background-size: 100%;
}

.wolf {
  background: $wolf;
  background-size: 100%;
}
.hell-hound {
  background: $hell-hound;
  background-size: 100%;
}

.ghost {
  background: $ghost;
  background-size: 100%;
}

.kobold {
  background: $kobold;
  background-size: 100%;
}

.orc0 {
  background: $orc0;
  background-size: 100%;
}
.orc1 {
  background: $orc1;
  background-size: 100%;
}
.orc2 {
  background: $orc2;
  background-size: 100%;
}

.black-snake {
  background: $black-snake;
  background-size: 100%;
}
.brown-snake {
  background: $brown-snake;
  background-size: 100%;
}

.tarantula {
  background: $tarantula;
  background-size: 100%;
}

.skeleton {
  background: $skeleton;
  background-size: 100%;
}
.mummy {
  background: $mummy;
  background-size: 100%;
}
.lich {
  background: $lich;
  background-size: 100%;
}

.thief {
  background: $thief;
  background-size: 100%;
}

.black-rat {
  background: $black-rat;
  background-size: 100%;
}

.morgoth {
  background: $morgoth;
  background-size: 100%;
}

// other

.gold {
  background: $gold;
  background-size: 100%;
}
.adamantite {
  background: $adamantite;
  background-size: 100%;
}

.scroll {
  background: $scroll;
  background-size: 100%;
}
.shop {
  background: $shop;
  background-size: 100%;
}
.house {
  background: $house;
  background-size: 100%;
}
.haunted-house {
  background: $haunted-house;
  background-size: 100%;
}
.inn {
  background: $inn;
  background-size: 100%;
}
.morgaine {
  background: $morgaine;
  background-size: 100%;
}

.anti-mould {
  background: $anti-mould;
  background-size: 100%;
}
.health-potion {
  background: $health-potion;
  background-size: 100%;
}
.acid-rain {
  background: $acid-rain;
  background-size: 100%;
}
.dragon-breath {
  background: $dragon-breath;
  background-size: 100%;
}

.wine {
  background: $wine;
  background-size: 100%;
}
.magic-book {
  background: $magic-book;
  background-size: 100%;
}
.scroll-unlock {
  background: $scroll-unlock;
  background-size: 100%;
}
.treasure-chest {
  background: $treasure-chest;
  background-size: 100%;
}

.stairs-down {
  background: $stairs-down;
  background-size: 100%;
}
.stairs-up {
  background: $stairs-up;
  background-size: 100%;
}

// // morgoth chambers
// .mc-n1 { background: $mc-n1; background-size: 100% }
// .mc-n2 { background: $mc-n2; background-size: 100% }
// .mc-n3 { background: $mc-n3; background-size: 100% }
// .mc-ne { background: $mc-ne; background-size: 100% }
// .mc-e1 { background: $mc-e1; background-size: 100% }
// .mc-e2 { background: $mc-e2; background-size: 100% }
// .mc-e3 { background: $mc-e3; background-size: 100% }
// .mc-se { background: $mc-se; background-size: 100% }
// .mc-s1 { background: $mc-s1; background-size: 100% }
// .mc-s2 { background: $mc-s2; background-size: 100% }
// .mc-s3 { background: $mc-s3; background-size: 100% }
// .mc-sw { background: $mc-sw; background-size: 100% }
// .mc-w1 { background: $mc-w1; background-size: 100% }
// .mc-w2 { background: $mc-w2; background-size: 100% }
// .mc-w3 { background: $mc-w3; background-size: 100% }
// .mc-nw { background: $mc-nw; background-size: 100% }

// messaging

ul {
  font-size: 18px;
  width: 450px;
  list-style: none;
  padding-left: 0;
}

ol {
  padding-left: 20px;
}

.msg-player {
  color: #ffffff;
}

.msg-monster {
  color: #000000;
}

.msg-game {
  color: #fda529;
}

.msg-good {
  color: green;
}

.msg-warning {
  color: #fda529;
}

.msg-urgent {
  color: #ae0000;
}
