// basic floor and wall

.floor {
  background: $floor64;
}

.wall {
  background-color: #1e1e1e;
}

// players

.player-m {
  background: $player-m;
}
.player-f {
  background: $player-f;
}

// weapons

.pick {
  background: $pick;
}
.dagger {
  background: $dagger;
}
.short-sword {
  background: $short-sword;
}
.long-sword {
  background: $long-sword;
}
.hammer {
  background: $hammer;
}
.long-bow {
  background: $long-bow;
}
.cross-bow {
  background: $cross-bow;
}
.arrows {
  background: $arrows;
}
.bolts {
  background: $bolts;
}

// rings

.ring-one {
  background: $ring-one;
}
.ring-str {
  background: $ring-str;
}
.ring1 {
  background: $ring1;
}
.ring2 {
  background: $ring2;
}
.ring3 {
  background: $ring3;
}
.ring4 {
  background: $ring4;
}

// amulets

.amulet-mother {
  background: $amulet-mother;
}
.amulet1 {
  background: $amulet1;
}
.amulet2 {
  background: $amulet2;
}
.amulet3 {
  background: $amulet3;
}
.amulet4 {
  background: $amulet4;
}

// armours

.leather {
  background: $leather;
}
.scale {
  background: $scale;
}
.plate {
  background: $plate;
}
.adamantite-armour {
  background: $adamantite-armour;
}
.shield {
  background: $shield;
}

// food

.trippy-mushroom {
  background: $trippy-mushroom;
}
.yellow-mushroom {
  background: $yellow-mushroom;
}

// monsters

.gold-dragon {
  background: $gold-dragon;
}
.black-dragon {
  background: $black-dragon;
}
.red-dragon {
  background: $red-dragon;
}
.white-dragon {
  background: $white-dragon;
}

.grey-mould {
  background: $grey-mould;
}
.green-mould {
  background: $green-mould;
}

.red-ant {
  background: $red-ant;
}

.white-centipede {
  background: $white-centipede;
}
.grey-centipede {
  background: $grey-centipede;
}

.wolf {
  background: $wolf;
}
.hell-hound {
  background: $hell-hound;
}

.ghost {
  background: $ghost;
}

.kobold {
  background: $kobold;
}

.orc0 {
  background: $orc0;
}
.orc1 {
  background: $orc1;
}
.orc2 {
  background: $orc2;
}

.black-snake {
  background: $black-snake;
}
.brown-snake {
  background: $brown-snake;
}

.tarantula {
  background: $tarantula;
}

.skeleton {
  background: $skeleton;
}
.mummy {
  background: $mummy;
}
.lich {
  background: $lich;
}

.thief {
  background: $thief;
}

.black-rat {
  background: $black-rat;
}

.morgoth {
  background: $morgoth;
}

// other

.gold {
  background: $gold;
}
.adamantite {
  background: $adamantite;
}

.scroll {
  background: $scroll;
}
.shop {
  background: $shop;
}
.house {
  background: $house;
}
.haunted-house {
  background: $haunted-house;
}
.inn {
  background: $inn;
}
.morgaine {
  background: $morgaine;
}

.anti-mould {
  background: $anti-mould;
}
.health-potion {
  background: $health-potion;
}
.acid-rain {
  background: $acid-rain;
}
.dragon-breath {
  background: $dragon-breath;
}

.wine {
  background: $wine;
}
.magic-book {
  background: $magic-book;
}
.scroll-unlock {
  background: $scroll-unlock;
}
.treasure-chest {
  background: $treasure-chest;
}

.stairs-down {
  background: $stairs-down;
}
.stairs-up {
  background: $stairs-up;
}

// // morgoth chambers
// .mc-n1 { background: $mc-n1; background-size: 100% }
// .mc-n2 { background: $mc-n2; background-size: 100% }
// .mc-n3 { background: $mc-n3; background-size: 100% }
// .mc-ne { background: $mc-ne; background-size: 100% }
// .mc-e1 { background: $mc-e1; background-size: 100% }
// .mc-e2 { background: $mc-e2; background-size: 100% }
// .mc-e3 { background: $mc-e3; background-size: 100% }
// .mc-se { background: $mc-se; background-size: 100% }
// .mc-s1 { background: $mc-s1; background-size: 100% }
// .mc-s2 { background: $mc-s2; background-size: 100% }
// .mc-s3 { background: $mc-s3; background-size: 100% }
// .mc-sw { background: $mc-sw; background-size: 100% }
// .mc-w1 { background: $mc-w1; background-size: 100% }
// .mc-w2 { background: $mc-w2; background-size: 100% }
// .mc-w3 { background: $mc-w3; background-size: 100% }
// .mc-nw { background: $mc-nw; background-size: 100% }
